@import "variables";

*,
::after,
::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: $body-font;
    background-color: white;
    color: $first-color;
}

h3,
p {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}