@import "../pravticescss/color";
@import "../pravticescss/section-2";

@mixin section($width, $height) {
    width: $width;
    height: $height;
    background-color: $background;
}

.container {
    .section-1 {
        @include section(100px, 200px);

        button {
            background-color: $btn-color;
        }
    }

    .section-2 {
        @include section(300px, 200px);
    }

    .section-3 {
        @include section(100px, 200px);

        button {
            background-color: $btn-color;
        }
    }

    %ptext {
        font: {
            weight: bold;
            size: 2rem
        }
    }

    .section-4 {
        @extend .section-2;
        width: 400px;
        background-color: lightblue;

        p {
            @extend %ptext;
        }
    }
}